<div class="panel panel-default">
    <div class="panel-heading">
        <span *ngIf="!isChangeFilters">
            Was schenkst du
            <span *ngIf="selectedUser">{{selectedUser.name}}?</span>
            <span *ngIf="!selectedUser">...?</span>
        </span>
        <span *ngIf="isChangeFilters">Wen beschenkst du?</span>
    </div>

    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li role="presentation" *ngFor="let user of otherUsers; let i = index" [ngClass]="{'active': user===selectedUser}" style="white-space:nowrap;">
                <a (click)="clickedUser(user, isChangeFilters)" class="black" [ngClass]="{
                    'clickable': isChangeFilters === true || user!==selectedUser, 
                    'bold': filteredUserIds.indexOf(user.id) !== -1
                }">
                    {{user.name}}
                    <span class="badge" *ngIf="!isChangeFilters">{{countPresentsByCurrentUserMap.get(user.id)}}/{{countWishesMap.get(user.id)}}</span>
                </a>
            </li>
            <li role="presentation" class="navbar-right"></li>
            <li role="presentation" class="navbar-right">
                <button class="btn btn-default" (click)="setChangeFilters()">
                    <span *ngIf="isChangeFilters">zurück</span>
                    <span *ngIf="!isChangeFilters">Wichtel setzen</span>
                </button>
            </li>
        </ul>

        <div *ngIf="isChangeFilters">
            <br/>
            Hier kannst du andere markieren/abwählen, um dir deine Wichtel zu merken.
        </div>

        <table class="table table-hover" *ngIf="selectedUser">
            <thead>
                <tr>
                    <td>Beschreibung</td>
                    <td>URL (Optional)</td>
                    <td>Wer schenkt's?</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wish of selectedUserWishes; let i = index">
                    <td>{{wish.description}}</td>
                    <td><a href="{{wish.link}}" target="_blank" *ngIf="wish.link">{{wish.link}}</a></td>
                    <td>
                        {{getGiversForWish(wish)}}
                        <button *ngIf="isWishSelected(wish)" (click)="clickedUnselectWish(wish)" class="btn btn-default" [attr.disabled]="selectedPresent">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button *ngIf="!isWishSelected(wish)" (click)="clickedSelectWish(wish)" class="btn btn-default" [attr.disabled]="selectedPresent">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                <tr class="no-hover">
                    <td colspan=3 style="text-align:center">Hier können Geschenke eingegeben werden, die nicht vom Wünscher selbst formuliert wurden:</td>
                </tr>
                <tr *ngFor="let present of selectedUserUnwishedPresents; let i = index">
                    <td>
                        <span *ngIf="!selectedPresent || selectedPresent!=present">
                            {{present.description}}
                        </span>
                        <input *ngIf="selectedPresent && selectedPresent==present" type="text" [(ngModel)]="selectedPresent.description" placeholder="Beschreibung">
                    </td>
                    <td>
                        <span *ngIf="!selectedPresent">
                            <a target="_blank" href="{{present.link}}">{{present.link}}</a>
                        </span>

                        <span *ngIf="selectedPresent && selectedPresent!=present">
                            {{present.link}}
                        </span>

                        <input *ngIf="selectedPresent && selectedPresent==present" type="text" [(ngModel)]="selectedPresent.link" placeholder="URL (Optional)">
                    </td>
                    <td>
                        {{getGiverForPresent(present)}}
                        <span *ngIf="present.giverId === currentUserId">
                            <button *ngIf="!selectedPresent || selectedPresent!==present" (click)="clickedEdit(present)" class="btn btn-default" [attr.disabled]="selectedPresent && selectedPresent!==present">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button *ngIf="!selectedPresent || selectedPresent!==present" (click)="clickedRemove(i, present)" class="btn btn-default" [attr.disabled]="selectedPresent && selectedPresent!==present">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>

                            <button *ngIf="selectedPresent && selectedPresent===present" (click)="clickedSaveEdit(i, present)" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button *ngIf="selectedPresent && selectedPresent===present" (click)="clickedResetEdit(i, present)" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </span>
                    </td>
                </tr>
                <tr class="no-hover">
                    <td>
                        <button *ngIf="!selectedPresent" (click)="clickedAddNew()" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>